{% extends "layout.html" %} {% block head %}
<title>Plent</title>
{% endblock head %} {% block body %} 
<h3>login</h3>

{% if messages %}
  {% for message in messages %}
    <h5>{{message}}</h5>
  {% endfor %} 
{% endif %}

<form action="{% url 'login' %}" method="post">
	{% csrf_token %}
	<input type="text" name="username" placeholder="username" />
	<input type="password" name="password" placeholder="password" />
	<input type="submit" />
</form>

<a href="{% url 'register' %}">make new Accout</a>
{% endblock body %}
